body{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
  background-size: 300% 300%;
  
}
#titre{
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
}
.navbar{
  background: linear-gradient(to bottom, #c539f499, #ffffff);
}
body{
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
}

.background{
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
}


.img-logo{
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 2px rgb(129, 129, 129);
}
.navbar-brand{
  padding-left: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
   text-decoration:underline;  
}
.row{
width: 100%;
}
.contact {
  padding-left: 40px;
  color: rgb(0, 0, 0);
}
.home {
  padding: 40px;
  color: rgb(0, 0, 0);
}
.home h1 {
    font-size: 44px;
    margin-bottom: 20px;
  }
  .home p {
    margin-bottom: 20px;
  }
  .home a {
    background-color: #6f00ff;
    border-color: #007bff;
    border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    padding: 12px 30px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 1px 1px 10px white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
  .home a:hover {
    background-color: #ccff00;
    color: #000000;
    box-shadow: 2px 2px 16px rgb(133, 133, 133);
  }

  .vider{
    border:1px solid black;
  }
  .form-label{
    margin-left:5px;
  }
  .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.pabout{
  color: #3b2323;
  font-size: 12px;
  
}
.titre-about{
  color: #000000;
}
.valeur-about li{
  
  font-size: 12px;
  list-style:square;
color: #251d1d;
}

.valeur-about li b{
  font-size: 14px;
}
.detail-card{
  display: flex;}
.card{
  /* margin-top: 15px;
  margin-left : 85px; */
  background-color: rgba(247, 247, 247, 0.331);
}
.info-content{
  padding-left: 10px;
}

.product-img{
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.product-detail{
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.border-img{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
 .nav-link{
  color: #eab3ff;
} 
.detail-product{
  background-color: #39393900;
  padding: 10px;
  border-radius: 5px;
}
.card-about{
  background-color: #d9d4de2f;
  padding: 15px;
  margin-top: 8px;
  border-radius: 5px;
  box-shadow:  0.5px 0.5px 2px 0.5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}



.cart-icon {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #a109ff;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 35px;
}

.cart-icon::after {
  content: attr(data-count);
  position: absolute;
  top: -8px;
  right: 20px;
  min-width: 20px;
  height: 20px;
  background-color: rgb(11, 11, 11);
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}


@media screen and (max-width: 850px) {
 
  .card{
    margin-left : 15px;
    padding: 10px;
    width: 98%;
  }
}  


.scroller-container {
  width: 300px; 
  height: 200px; 
  overflow: auto;
  border: 1px solid #ccc;
}

.scroller-content {
  width: fit-content;
}

.scroller-content p {
  margin: 0;
  padding: 10px;
  white-space: nowrap;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  /*Ajoutdelapropriétéjustify-content*/
  width: 50%;
  /*Largeurde50%*/
  margin: 0 auto;
  /*Centragehorizontal*/
  border: 1px solid #ccc;
  border-radius: 50px;
  padding:8px;
  margin-top: 30px;
  margin-top: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.search-bar input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 4px;
  padding-left: 15px;
  font-size: 15px;
}

.search-icon {
  margin-left: 8px;
  color: #888;
  font-size: 20px;
}

.detail{
  background-color:  rgba(250, 248, 248, 0.422);
  box-shadow: 1px 1px 12px rgba(128, 128, 128, 0.504);
}




.footer {
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  width: 30%;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 2px solid #888;
  padding-bottom: 5px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.footer-section ul li a:hover {
  color: #888;
}


.footer-section .social-media-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-section .social-media-list li {
  margin-right: 10px;
}

.footer-section .social-media-list li a {
  font-size: 20px;
  color: #333;
}

.footer-section .social-media-list li a:hover {
  color: #888;
}


.card-infomration,.cart-table{
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.386);
  max-height: 420px;
}


